header {
    background-color: rgb(221, 56, 45);
    /* background-color: rgb(239, 152, 126);
    background-color: rgb(203, 189, 69);
    background-color: rgb(225, 225, 223); 
     background-color: rgb(159, 180, 231); */
    
    
} 

header h1 {
    margin: 0;
    color: white;
    text-align: center;
    padding: 2%;
}

html, body {
    margin: 10;
    padding: 10;
}

div.card-header{
    background-color: rgb(239, 152, 126); 
    color: white;
    margin-top: 1%;
}

a.btn-primary{
    background-color: rgb(203, 189, 69);
}



p.card-text {
    
    color:rgb(183, 0, 13);
    
}

div.card-footer {

    background-color: rgb(159, 180, 231);
    color: white

}

