header {
    background-color: rgb(183, 0, 13);
    background-color: rgb(255, 99, 95);
    background-color: rgb(234, 180, 85);
    background-color: rgb(207, 185, 169); 
     background-color: rgb(38, 31, 39);
    
    
} 

header h1 {
    margin: 0;
    color: white;
    text-align: center;
    padding: 2%;
}

html, body {
    margin: 10;
    padding: 10;
}

div.card-header{
    background-color: rgb(183, 0, 13); 
    color: white;
    margin-top: 1%;
}

a.btn-primary{
    background-color: rgb(234, 180, 85);
}

header h5 {
    

}

p.card-text {
    
    color:rgb(183, 0, 13);
    
}

div.card-footer {

    background-color: rgb(207, 185, 169);
    color: white

}

